* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
  margin: 0;
}

section.homepage {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}

#root {
  height: 100vh;
  background-image: url("./assets/images/background.jpg");
}
