:root {
  --titleFont: "Fraunces";
  --textFont: "Poppins";

  --font-size: 1rem;

  --font-weight-S: 400;

  --mainColor: #ffa700;
  --secondColor: #313131;
  --yellowBackColor: #ffa60080;
  --white: #f5f5f5;
  --box-shadow: 0px 0px 8px 0px #00000080;
}
